**/*.csv
build/
.DS_Store
.vscode/launch.json
.vscode/tasks.json
results/
workloads/
experiments/bods/
experiments/5.2-quart-vs-quit/quick-insertion-tree/
experiments/5.2-quart-vs-quit/build/
tpcc/benchmarksql_workdir/
